/* third party styles */
@import "~bootstrap/scss/bootstrap";
@import "~react-tippy/dist/tippy.css";
@import "~react-custom-scroll/dist/customScroll.css";
@import "~react-slidedown/lib/slidedown.css";
@import "~react-modal-video/scss/modal-video.scss";

/* project styles */
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/reset";

@import "layouts/footer";
@import "layouts/grid";
@import "layouts/header";
@import "layouts/navigation";
@import "layouts/sidebar";

@import "pages/cart-wishlist";
@import "pages/my-account";
@import "pages/checkout";
@import "pages/compare";
@import "pages/coming-soon";
@import "pages/404";

@import "components/button";
@import "components/form";
@import "components/cta";
@import "components/hero-slider";
@import "components/product-tab";
@import "components/product-thumb";
@import "components/product-modal";
@import "components/product-image-gallery";
@import "components/product-description";
@import "components/breadcrumb";
@import "components/empty-area";
@import "components/shop-header";
@import "components/shop-advance-filter";
@import "components/pagination";
@import "components/section-title";
@import "components/testimonial";
@import "components/icon-box";
@import "components/map";
@import "components/faq";
@import "components/blog";
@import "components/category";
@import "components/product-slider";
@import "components/product-widget";
@import "components/team";
@import "components/newsletter";
@import "components/countdown-timer";
@import "components/lookbook";
@import "components/shop-info";
@import "components/banner";
@import "components/about";
@import "components/brand-logo";
@import "components/image-slider";
@import "components/overlay-menu";

@font-face {
  font-family: "Eyesome Script";
  src: url("../../../public/assets/fonts/eyesome-duo-script.otf")
    format("truetype"); /* Ajusta la ruta según la ubicación de la fuente */
  font-weight: normal;
  font-style: normal;
}

p.wika-font {
  font-family: "Eyesome Script", cursive;
  font-size: 7em;
  padding-top: 60px;
  padding-bottom: 6px;
}

.golden-text {
  background: linear-gradient(45deg, #ffd700, #ffaa00, #ffd700);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.golden-text-shadow {
  background: linear-gradient(45deg, #ffd700, #ffaa00, #ffd700);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(255, 215, 0, 0.8),
    1px 2px 4px rgba(218, 165, 32, 0.8), 2px 4px 6px rgba(184, 134, 11, 0.8);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 765px) {
  p.wika-font {
    font-size: 4em; /* Tamaño reducido en pantallas pequeñas */
  }
  .golden-text-shadow {
    font-size: 1.5em; /* Tamaño reducido en pantallas pequeñas */
  }
}
@media (max-width: 576px) {
  p.wika-font {
    padding-top: 5px;
    font-size: 2em; /* Tamaño reducido en pantallas pequeñas */
  }
  .golden-text-shadow {
    font-size: 1em; /* Tamaño reducido en pantallas pequeñas */
  }
}