# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

/.idea/
# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase build outputs
firebase-debug.log
firebase-debug.*
.firebase

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# npm cache
package-lock.json

# Firebase Hosting cache
functions/node_modules/
functions/lib/
functions/.firebase/
functions/.runtimeconfig.json

# Firebase Functions build artifacts
functions/dist/
functions/build/
functions/*.log
